absl-py
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
flask-cors
flatbuffers
fonttools
fsspec
idna
itsdangerous
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
mpmath
networkx
numpy
opencv-python-headless
opt_einsum
packaging
pandas
pillow
protobuf==3.20.3
psutil
py-cpuinfo
pycparser
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
sentencepiece
six
sounddevice
sympy
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Werkzeug
streamlit
plotly
reportlab
fer
moviepy
kaleido
tensorflow
